<h2>Login</h2>

<div class="warning"><h3>{{incorrect}}</div>

<form id="login" name="login" method="post">
    Email:<br>
    <input id="email"type="email" name="email" value="" required>
    <br>Password:<br>
    <input id="password" type="password" name="password" value="" required>
    <br>
    <input id="button" type="submit" value="Submit">
</form>
