<p>Login</p>

<div class="warning"><h3>{{incorrect}}</div>

<form id="login" name="login" method="post">
    <input type="text" name="email" value="Email" onfocus="value=''">
    <input type="text" name="password" value="Password" onfocus="value=''">
    <input id="button" type="submit" value="Submit">
</form>
