<!doctype html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
    <div id="wrapper">
        <div id="color"></div>
        <div id="blackwhite"></div>
        <div id="slider"></div>
        {{> nav}}
        {{{body}}}

    </div>
    <script src="/js/canvas.js" charset="utf-8"></script>
    <script src="/js/panes.js"></script>
    </body>
</html>
