<h2>Please tell us more about yourself ;D</h2>

<form id="onboard" name="onboard" method="post">
    Age:<br>
    <input id="age"type="text" name="age" value="">
    <br>City:<br>
    <input id="city" type="text" name="city" value="">
    <br>Website:<br>
    <input id="url" type="text" name="url" value="">
    <br>
    <input id="button" type="submit" value="Continue">
</form>
