<p>Onboard</p>

<form id="onboard" name="onboard" method="post">
    <input data="age" type="text" name="age" value="Age" onfocus="value=''">
    <input data="city" type="text" name="city" value="City" onfocus="value=''">
    <input data="url" type="text" name="url" value="Website" onfocus="value=''">
    <br>
    <input id="button" type="submit" value="Continue">
</form>
