<h2>Onboarding >;D </h2>

<form id="onboard" name="onboard" method="post">
    Age:<br>
    <input id="age"type="text" name="age" value="">
    <br>City:<br>
    <input id="lastname" type="text" name="lastname" value="">
    <br>Website:<br>
    <input id="website" type="text" name="lastname" value="">
    <br>
    <input id="button" type="submit" value="Continue">
</form>
