<p>Onboard</p>

<form id="onboard" name="onboard" method="post">
    <input data="age" type="text" name="age" placeholder="Age">
    <input data="city" type="text" name="city" placeholder="City">
    <input data="url" type="text" name="url" placeholder="Website">
    <br>
    <input id="button" type="submit" value="Continue">
</form>
