<main>
    <h2>Sign The Petition</h2>

    <div class="introduction">
        <p>Let's join forces with humans and animals alike to save this beautiful garden beneath the seas.</p>
    </div>

    <form id="data" name="data" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input id="hiddencanvas" type="hidden" name="signature">
        <canvas id="canvas" width="300" height="200">
        </canvas>
        <input id="submit" type="submit" value="Submit">
    </form>
</main>
