<p>Sign Petition</p>

<form id="data" name="data" method="post">
    <input type="text" name="firstname" placeholder="First Name" value="{{firstname}}">
    <input type="text" name="lastname" placeholder="Last Name" value="{{lastname}}">
    <input id="hiddencanvas" type="hidden" name="signature">
    <canvas id="canvas" width="500" height="250" style="border: 1px dotted red">
    </canvas>
    <input id="button" type="submit" value="Submit">
</form>
