<div class="warning"><h3>{{error}}</div>

<form id="data" name="data" method="post">
    <input type="text" name="firstname" value="First Name" onfocus="value=''">
    <input type="text" name="lastname" value="Last Name" onfocus="value=''">
    <input type="email" name="email" value="Email" onfocus="value=''">
    <input type="password" name="password" value="Password" onfocus="value=''">
    </canvas>
    <input id="register" type="submit" value="Submit">
</form>

<br>
<div class="already-member">
    <a href="../../login">Already a member?</a>
</div>
