<p>Register</p>
<div class="warning"><h3>{{error}}</div>
<form id="data" name="data" method="post">
    <input type="text" name="firstname" placeholder="First Name">
    <input type="text" name="lastname" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    </canvas>
    <input id="register" type="submit" value="Submit">
</form>

<br>
<div class="already-member">
    <a href="../../login">Already a member?</a>
</div>
