<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<div class="warning"><h3>{{error}}</div>

<form id="data" name="data" method="post">
    Firstname:<br>
    <input id="firstname" type="text" name="firstname" value="" required>
    <br>Lastname:<br>
    <input id="lastname" type="text" name="lastname" value="" required>
    <br>Email:<br>
    <input type="email" name="email" value="" required>
    <br>Password:<br>
    <input id="password" type="password" name="password" value="" required>
    </canvas>
    <br>
    <input id="register" type="submit" value="Submit">
</form>

<br>
<div class="already-member">
    <a href="../../login">Already a member?</a>
</div>
