<main>
    <h2>Thank You</h2>

    <img src="{{sigImg}}" alt="">

    <form action="/delete" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="delete-sig" class="thanks-links">&nbsp;Remove Signature&nbsp;</button>
    </form>
    <br>
    <a class="thanks-links" href="/profile/edit">&nbsp;Edit Profile&nbsp;</a>
    <br>
    <a id="view-signees-button" class="thanks-links" href="/signees">&nbsp;View All Signees <span style="color: orange">({{count}})&nbsp;</span></a>
</main>
