<p>Thanks for signing the petition!</p>

<a class="thanks-links" href="/signees">View all signees</a>

<a class="thanks-links" href="/profile/edit">Edit your profile</a>

<a class="thanks-links" href="/petition">Delete Signature</a>

<img src="{{sigImg}}" alt="">
