* {
    box-sizing: border-box;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: #1D3246;
}

/********************** GENERAL SETTINGS **********************/
h1 {
    font-family: 'Lemonada';
    font-size: 2.5em;
    color: white;
    line-height: 1;
    text-align: center;
}

h2 {
    font-family: 'Lemonada';
    padding: 60px 20px 20px 20px;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Lemonada';
    font-size: 1.5em;
    color: white;
    text-align: center;
}

h5 {
    font-family: Helvetica;
    line-height: 1.6;
    font-size: 1em;
    color: #807DA9;
}

h6 {
    color: #2AAA95;
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: 400;
}

p {
    font-family: Helvetica;
    line-height: 1.6;
    font-size: 1em;
    color: #4180BF;
    max-width: 800px;
}

a {
    color: #2AAA95;
    text-decoration: none;
    font-family: Helvetica;
}

::selection {
    background-color: #E67E2E;
    color: white;
}

/********************** BACKGROUND & SLIDER **********************/
#title {
    font-family: 'Coming Soon', cursive;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    color: #092B3B;
    font-size: 3em;
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    text-align: center;
    pointer-events: none;
}

#slider {
    background-color: white;
    width: 2px;
    height: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0.5;
}

#color, #blackwhite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 2430px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#color {
    background-image: url('/images/final_color.png');
    z-index: 2;
}

#blackwhite {
    background-image: url('/images/final_dead.png');
    z-index: 1;
}

/********************** NAV **********************/
nav {
    width: 100%;
    margin-top: 220px;
    z-index: 5;
}

ul {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    list-style: none;
}

ul.navigation a {
    color: yellow;
    text-decoration: none;
}

li {
    color: #5B749C;
    list-style-type: square;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: capitalize;
    padding-left: 10px;
    margin-left: 40px;
    padding-bottom: 20px;
}

.logo h1, .logo {
    text-decoration: none;
}

.logo {
    margin-top: 50px;
    margin-bottom: 20px;
}

/********************** SIGNEES **********************/
.signee-list a, h3 {
    font-weight: 400;
    font-size: 1.2em;
    font-family: Helvetica;
}

#delete-sig, .thanks-links {
    font-family: 'Helvetica';
    text-decoration: none;
    color: yellow;
    margin-top: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #40397A;
    background: none;
    font-size: 20px;
}

.thanks-links:hover {
    color: white;
    transition: 0.75s;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#delete-sig:hover {
    color: white;
    text-decoration: line-through;
    transition: 0.75s;
}

/********************** MAIN **********************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    z-index: 11;
    background-color: #40397A;
    height: 100vh;
    opacity: 0.6;
    transition: opacity 1.4s;
    right: 0px;
    position: absolute;
}

main:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/********************** REGISTER **********************/
.introduction {
    padding: 20px 35px 0 35px;
}

/********************** VIEW ALL SIGNEES **********************/
main.view-all:hover {
    opacity: 1;
}

.view-all {
    width: 90%;
    animation: 1.5s ease-out 0s 1 slideInFromRight;
    opacity: 1;
}

.close {
    width: 90%;
    animation: 5.5s ease-out 0s 1 slideAway;
    opacity: 1;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideAway {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

.x {
    max-width: 45px;
    left: 40px;
    top: 25px;
    font-size: 2em;
    position: absolute;
    cursor: pointer;
    opacity: 0.9;
}

/********************** CANVAS **********************/
#canvas {
    background-color: #9AD0CB;
    margin-top: 30px;
    border: 4px solid #4E60A6;
}

/********************** FORMS **********************/
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

::placeholder {
    color: #5B749C;
}

input {
    padding: 5px;
    color: white;
    border: 1px solid #5B749C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 20px;
    font-size: 1.2em;
    width: 300px;
    opacity: 0.8;
    background: none;
}

input:required {

}

:focus {
  outline-color: transparent;
  outline-style: none;
}

#submit {
    font-size: 1em;
    border: none;
    margin-top: 40px;
    background-color: orange;
    border-radius: 20px;
    width: 100px;
    align-self: center;
    font-family: 'Lemonada';
    cursor: pointer;
    transition: 1.0s;
}

#submit:hover {
    transition: 1.0s;
    background-color: #F9CA4D;
}

/********************** WARNING MESSAGE **********************/
.warning {
    font-size: 1em;
    color: yellow;
    padding: 10px;
}
